@model SimpleWebApp.CMS.Models.Entities.Article

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h2>@Model.Title</h2>
        <br/>
        <div>
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
